<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>strasolapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Nuestra aplicación necesita acceso a tu ubicación para las sucursales cercanas a tu ubicación.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a tu biblioteca de fotos para que puedas seleccionar imágenes para personalizar tu perfil.</string>
	<key>NSCameraUsageDescription</key>
	<string>Requerimos acceso a tu cámara para que puedas tomar fotos para escanear el chasis y el código de motor desde el RUAT.</string>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
	    <dict>
	        <key>NSPrivacyAccessedAPICategory</key>
	        <string>NSPrivacyAccessedAPICategoryDiskSpace</string>
	        <key>NSPrivacyAccessedAPIReason</key>
	        <string>La aplicación necesita acceso al espacio en disco para almacenar datos importantes y garantizar su correcto funcionamiento.</string>
	    </dict>
	    <dict>
	        <key>NSPrivacyAccessedAPICategory</key>
	        <string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
	        <key>NSPrivacyAccessedAPIReason</key>
	        <string>La aplicación utiliza marcas de tiempo de archivos para organizar y gestionar documentos de manera eficiente.</string>
	    </dict>
	    <dict>
	        <key>NSPrivacyAccessedAPICategory</key>
	        <string>NSPrivacyAccessedAPICategorySystemBootTime</string>
	        <key>NSPrivacyAccessedAPIReason</key>
	        <string>La aplicación requiere información sobre el tiempo de inicio del sistema para optimizar el rendimiento y la experiencia del usuario.</string>
	    </dict>
	    <dict>
	        <key>NSPrivacyAccessedAPICategory</key>
	        <string>NSPrivacyAccessedAPICategoryUserDefaults</string>
	        <key>NSPrivacyAccessedAPIReason</key>
	        <string>La aplicación utiliza UserDefaults para almacenar preferencias y configuraciones del usuario de manera segura.</string>
	    </dict>
	</array>
</dict>
</plist>
